<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60637833533-cm9tnb7ctl95ds512p903nn1astp856k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60637833533-cm9tnb7ctl95ds512p903nn1astp856k</string>
	<key>API_KEY</key>
	<string>AIzaSyB28bTKtq470UldBfPsj7CrAFEacIgYosM</string>
	<key>GCM_SENDER_ID</key>
	<string>60637833533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mudMobileApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-mud</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-mud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60637833533:ios:09d9770cfb2ae6efb7bd54</string>
	<key>DATABASE_URL</key>
	<string>https://news-app-mud.firebaseio.com</string>
</dict>
</plist>